<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahjrlc.generator.dao.$Template$Mapper">
  <resultMap id="BaseResultMap" type="com.ahjrlc.generator.model.$Template$">
    <id column="$key$" jdbcType="INTEGER" property="$Key$" />
    <result column="$searchField$" jdbcType="VARCHAR" property="$searchField$" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    $key$, $searchField$
  </sql>
  <select id="selectByExample" parameterType="com.ahjrlc.generator.model.$Template$Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from template
    where $key$ = #{$Key$,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from template
    where $key$ = #{$Key$,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ahjrlc.generator.model.$Template$Example">
    delete from template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ahjrlc.generator.model.$Template$">
    <selectKey keyProperty="$Key$" order="AFTER" resultType="Object">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template ($searchField$)
    values (#{$searchField$,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahjrlc.generator.model.$Template$">
    <selectKey keyProperty="$Key$" order="AFTER" resultType="Object">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="$searchField$ != null">
        $searchField$,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="$searchField$ != null">
        #{$searchField$,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ahjrlc.generator.model.$Template$Example" resultType="java.lang.Long">
    select count(*) from template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update template
    <set>
      <if test="record.$Key$ != null">
        $key$ = #{record.$Key$,jdbcType=INTEGER},
      </if>
      <if test="record.$searchField$ != null">
        $searchField$ = #{record.$searchField$,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update template
    set $key$ = #{record.$Key$,jdbcType=INTEGER},
      $searchField$ = #{record.$searchField$,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahjrlc.generator.model.$Template$">
    update template
    <set>
      <if test="$searchField$ != null">
        $searchField$ = #{$searchField$,jdbcType=VARCHAR},
      </if>
    </set>
    where $key$ = #{$Key$,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahjrlc.generator.model.$Template$">
    update template
    set $searchField$ = #{$searchField$,jdbcType=VARCHAR}
    where $key$ = #{$Key$,jdbcType=INTEGER}
  </update>
</mapper>